<?xml version='1.0'?>
<sdf version='1.7'>
    <xacro_define_property name="wall_h" value="0.5" />
    <xacro_define_property name="obstacle_h" value="0.4" />
    <!--macro defination:wall_visual_collision-->
    <xacro_define_macro name="wall_visual_collision" params="x y z">
        <collision name='collision'>
            <geometry>
                <box>
                    <size>${x} ${y} ${z}</size>
                </box>
            </geometry>
        </collision>
        <visual name='visual'>
            <geometry>
                <box>
                    <size>${x} ${y} ${z}</size>
                </box>
            </geometry>
            <material>
                <ambient>1 1 1 1</ambient>
                <diffuse>1 1 1 1</diffuse>
                <specular>1 1 1 1</specular>
                <pbr>
                    <metal>
                        <albedo_map>model://rmua19_battlefield/materials/textures/wood.jpg</albedo_map>
                    </metal>
                </pbr>
            </material>
        </visual>
    </xacro_define_macro>
    <model name='rmua19_battlefield'>
        <static>1</static>
        <!--ground_plane-->
        <link name="ground_plane">
            <collision name="collision">
                <geometry>
                    <plane>
                        <normal>0 0 1</normal>
                        <size>8 5</size>
                    </plane>
                </geometry>
            </collision>
            <visual name="visual">
                <geometry>
                    <plane>
                        <normal>0 0 1</normal>
                        <size>8 5</size>
                    </plane>
                </geometry>
                <material>
                    <ambient>0.8 0.8 0.8 1</ambient>
                    <diffuse>0.8 0.8 0.8 1</diffuse>
                    <specular>0.8 0.8 0.8 1</specular>
                </material>
            </visual>
        </link>
        <!--the wall for the competition area: 8*5 -->
        <link name='wall_1'>
            <pose>0 2.6 0.25 0 0 0</pose>
            <xacro_macro name="wall_visual_collision" x="8.4" y="0.2" z="0.5" />
        </link>
        <link name='wall_2'>
            <pose>0 -2.6 0.25 0 0 0</pose>
            <xacro_macro name="wall_visual_collision" x="8.4" y="0.2" z="0.5" />
        </link>
        <link name='wall_3'>
            <pose>4.1 0 0.25 0 0 0</pose>
            <xacro_macro name="wall_visual_collision" x="0.2" y="5.4" z="0.5" />
        </link>
        <link name='wall_4'>
            <pose>-4.1 0 0.25 0 0 0</pose>
            <xacro_macro name="wall_visual_collision" x="0.2" y="5.4" z="0.5" />
        </link>
        <!-- immovable wooden obstacles :  1 × 0.25 × 0.4-->
        <link name='obstacle_1'>
            <pose>0 0 0.2 0 0 0</pose>
            <xacro_macro name="wall_visual_collision" x="1" y="0.25" z="0.4" />
        </link>
        <link name='obstacle_2'>
            <pose>-2.3 1.375 0.2 0 0 0</pose>
            <xacro_macro name="wall_visual_collision" x="1" y="0.25" z="0.4" />
        </link>
        <link name='obstacle_3'>
            <pose>2.3 -1.375 0.2 0 0 0</pose>
            <xacro_macro name="wall_visual_collision" x="1" y="0.25" z="0.4" />
        </link>
        <link name='obstacle_4'>
            <pose>0.625 2 0.2 0 0 0</pose>
            <xacro_macro name="wall_visual_collision" x="0.25" y="1" z="0.4" />
        </link>
        <link name='obstacle_5'>
            <pose>-0.625 -2 0.2 0 0 0</pose>
            <xacro_macro name="wall_visual_collision" x="0.25" y="1" z="0.4" />
        </link>
        <link name='obstacle_6'>
            <pose>2.475 0.6 0.2 0 0 0</pose>
            <xacro_macro name="wall_visual_collision" x="0.25" y="1" z="0.4" />
        </link>
        <link name='obstacle_7'>
            <pose>-2.475 -0.6 0.2 0 0 0</pose>
            <xacro_macro name="wall_visual_collision" x="0.25" y="1" z="0.4" />
        </link>
    </model>
</sdf>