<?xml version="1.0"?>
<model>
  <name>rplidar_a2</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>zhenpeng ge</name>
    <email>zhenpeng.ge@qq.com</email>
  </author>

  <description>
    rplidar_a2:http://www.slamtec.com/cn/Lidar/A2
  </description>
</model>