<?xml version="1.0"?>
<model>
  <name>rmua19_standard_robot1</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>zhenpeng ge</name>
    <email>zhenpeng.ge@qq.com</email>
  </author>

  <description>
    The Full (modified) Version1 of Standard Robot for RoboMaster University AI Challenge 
  </description>
</model>