<!DOCTYPE html>

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="{{ url_for('static',filename='css/uikit.min.css',_external=True) }}" />
	<link rel="stylesheet" href="{{ url_for('static',filename='css/control_panel.css',_external=True) }}" />
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css',_external=True) }}" />

	<script type="text/javascript" src="{{ url_for('static',filename='js/socket.io.js') }}"></script>
	<script src="{{ url_for('static',filename='js/uikit.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/uikit-icons.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.6.0.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/control.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/web_socket_utils.js') }}"></script>
</head>

<body>
	<div class="cp_container rowcenter">
		<div class="sub_panel colcenter" id="red_block">
			<!-- <div class="robo_container colstart shadow">
				<div class="uk-label colstart" style="margin-bottom: 10px; padding: 5px;"><span
						style="font-size: 13px;margin-bottom: 5px;">red_robot_1</span>
					<span class="badge rounded-pill bg-secondary">已连接</span>
				</div>
				<div class="rowstart"  style="width: 100%;margin-bottom: 10px;margin-right: 10px;height:12%">
					<div class="rowcenter badge bg-light text-dark" style=" height:100%; width: 17%;font-size: 14px">HP
					</div>
					<div class="progress" style="width: 100%;height:100%">
						<div id="hp_bar_blue" class="progress-bar" role="progressbar" style="width: 25%;"><span
								id="blue_hp_text">500</span></div>
					</div>
				</div>
				<div class="rowstart"  style="width: 100%;margin-bottom: 10px;margin-right: 10px;height:12%">
					<div class="rowcenter badge bg-light text-dark" style=" height:100%; width: 17%;font-size: 14px">弹药量
					</div>
					<span class="badge bg-dark" style="font-size: 14px">500</span>
				</div>
				<div class="rowstart"  style="width: 100%;margin-bottom: 10px;margin-right: 10px;height:12%">
					<div class="rowcenter badge bg-light text-dark" style=" height:100%; width: 17%;font-size: 14px">命中率
					</div>
					<span class="badge bg-dark" style="font-size: 14px">80%</span>
				</div>
				<button type="button" class="btn btn-primary" style="margin-bottom: 10px;width: 50%;height:13%;">复活</button>
				<button type="button" class="btn btn-danger" style="margin-bottom: 10px;width: 50%;height:13%;">罚下</button>
			</div>
			<div class="robo_container colstart shadow">
				<div class="uk-label colstart" style="margin-bottom: 10px; padding: 5px;"><span
						style="font-size: 13px;margin-bottom: 5px;">red_robot_1</span>
					<span class="badge rounded-pill bg-secondary">已连接</span>
				</div>
				<div class="rowstart"  style="width: 100%;margin-bottom: 10px;margin-right: 10px;height:12%">
					<div class="rowcenter badge bg-light text-dark" style=" height:100%; width: 17%;font-size: 14px">HP
					</div>
					<div class="progress" style="width: 100%;height:100%">
						<div id="hp_bar_blue" class="progress-bar" role="progressbar" style="width: 25%;"><span
								id="blue_hp_text">500</span></div>
					</div>
				</div>
				<div class="rowstart"  style="width: 100%;margin-bottom: 10px;margin-right: 10px;height:12%">
					<div class="rowcenter badge bg-light text-dark" style=" height:100%; width: 17%;font-size: 14px">弹药量
					</div>
					<span class="badge bg-dark" style="font-size: 14px">500</span>
				</div>
				<div class="rowstart"  style="width: 100%;margin-bottom: 10px;margin-right: 10px;height:12%">
					<div class="rowcenter badge bg-light text-dark" style=" height:100%; width: 17%;font-size: 14px">命中率
					</div>
					<span class="badge bg-dark" style="font-size: 14px">80%</span>
				</div>
				<button type="button" class="btn btn-primary" style="margin-bottom: 10px;width: 50%;height:13%;">复活</button>
				<button type="button" class="btn btn-danger" style="margin-bottom: 10px;width: 50%;height:13%;">罚下</button>
			</div> -->
		</div>
		<div class="main_control shadow colcenter" id="main_control">
			<div id="timer" class="rowcenter timer_box">
				<div class="badge bg-light text-dark">
					00:00
				</div>
			</div>
			
			<div class="rowcenter" style="margin: 10px;">
				<button type="button" class="btn btn-primary btn-lg" style="margin: 10px;">开始对局</button>
				<button type="button" class="btn btn-warning btn-lg" style="margin: 10px;">终止对局</button>
				<button type="button" class="btn btn-danger btn-lg" style="margin: 10px;">重启对局</button>
			</div>
		</div>
		<div class="sub_panel colcenter" id="blue_block">
			<!-- <div class="robo_container colstart shadow">
				<div class=" colstart uk-label-danger" style="margin-bottom: 10px; padding: 5px;"><span
						style="font-size: 13px;margin-bottom: 5px;">red_robot_1</span>
					<span class="badge rounded-pill bg-light text-success">已连接</span>
				</div>
				<div class="rowstart"  style="width: 100%;margin-bottom: 10px;margin-right: 10px;height:12%">
					<div class="rowcenter badge bg-light text-dark" style=" height:100%; width: 17%;font-size: 14px">HP
					</div>
					<div class="progress" style="width: 100%;height:100%">
						<div id="hp_bar_blue" class="progress-bar bg-danger" role="progressbar" style="width: 25%;">
							<span id="blue_hp_text">500</span></div>
					</div>
				</div>
				<div class="rowstart"  style="width: 100%;margin-bottom: 10px;margin-right: 10px;height:12%">
					<div class="rowcenter badge bg-light text-dark" style=" height:100%; width: 17%;font-size: 14px">弹药量
					</div>
					<span class="badge bg-dark" style="font-size: 14px">500</span>
				</div>
				<div class="rowstart" style="width: 100%;margin-bottom: 10px;margin-right: 10px;height:12%">
					<div class="rowcenter badge bg-light text-dark" style=" height:100%; width: 17%;font-size: 14px">命中率
					</div>
					<span class="badge bg-dark" style="font-size: 14px">80%</span>
				</div>
				<button type="button" class="btn btn-primary" style="margin-bottom: 10px;width: 50%;height:13%;">复活</button>
				<button type="button" class="btn btn-danger" style="margin-bottom: 10px;width: 50%;height:13%;">罚下</button>
			</div>
			<div class="robo_container colstart shadow">
				<div class="uk-label colstart uk-label-danger" style="margin-bottom: 10px; padding: 5px;"><span
						style="font-size: 13px;margin-bottom: 5px;">red_robot_1</span>
					<span class="badge bg-light text-success">已连接</span>
				</div>
				<div class="rowstart"  style="width: 100%;margin-bottom: 10px;margin-right: 10px;height:12%">
					<div class="rowcenter badge bg-light text-dark" style=" height:100%; width: 17%;font-size: 14px">HP
					</div>
					<div class="progress" style="width: 100%;height:100%">
						<div id="hp_bar_blue" class="progress-bar bg-danger" role="progressbar" style="width: 25%;">
							<span id="blue_hp_text">500</span></div>
					</div>
				</div>
				<div class="rowstart"  style="width: 100%;margin-bottom: 10px;margin-right: 10px;height:12%">
					<div class="rowcenter badge bg-light text-dark" style=" height:100%; width: 17%;font-size: 14px">弹药量
					</div>
					<span class="badge bg-dark" style="font-size: 14px">500</span>
				</div>
				<div class="rowstart"  style="width: 100%;margin-bottom: 10px;margin-right: 10px;height:12%">
					<div class="rowcenter badge bg-light text-dark" style=" height:100%; width: 17%;font-size: 14px">命中率
					</div>
					<span class="badge bg-dark" style="font-size: 14px">80%</span>
				</div>
				<button type="button" class="btn btn-primary" style="margin-bottom: 10px;width: 50%;height:13%;">复活</button>
				<button type="button" class="btn btn-danger" style="margin-bottom: 10px;width: 50%;height:13%;">罚下</button>
			</div> -->

		</div>
	</div>
</body>
<script>
	window.onload = () => {
		init_socket()
	}

</script>

</html>