<?xml version="1.0"?>
<model>
  <name>industrial_camera</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>zhenpeng ge</name>
    <email>zhenpeng.ge@qq.com</email>
  </author>
  <description>
    A simple industrial camera model, the 3D model is from internel and is modified.
    refer to http://glib.zhizaoyun.com/html/201501/4_1_87434.html?winzoom=1
  </description>
</model>