<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script type="text/javascript" charset="utf-8"
        src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
</head>

<body>
    <h1>Video Streaming Demonstration</h1>
    <img src="{{ url_for('video_feed') }}">
    <h1>Contoller Info</h1>
    <div id="gamepadPrompt"></div>
    <br />
    <div id="gamepadDisplay"></div>
    <script>
        //static pubic ip and port number for rasberry pi here
        var socket_status = io.connect(window.location.protocol + "//" + location.host + "/status")
        var socket_control = io.connect(window.location.protocol + "//" + location.host + "/control");
        console.log("info:" + window.location.protocol + "//" + location.host + "/control");
        var hasGP = false;
        var repGP;
        function canGame() {
            return "getGamepads" in navigator;
        }
        function reportOnGamepad() {
            var gp = navigator.getGamepads()[0];
            button_names = ['A', 'B', 'X', 'Y', 'LB', 'RB', 'LT', 'RT', 'BACK', 'START', 'LS', 'RS', 'UP', 'DOWN', 'LEFT', 'RIGHT']
            console.log('buttons', gp.buttons.length, "axes", gp.axes.length);
            if (gp.buttons.length < 16 || gp.axes.length < 4) {
                return
            }
            //getting the button status and stick values,send to socket.
            gp_data = {};
            for (var i = 0; i < 16; i++) {
                gp_data[button_names[i]] = gp.buttons[i].pressed
            }
            gp_data["LS_ax0"] = gp.axes[0]
            gp_data["LS_ax1"] = gp.axes[1]
            gp_data["RS_ax0"] = gp.axes[2]
            gp_data["RS_ax1"] = gp.axes[3]
            socket_control.emit('control', { "gp_data": gp_data })
            console.log('C', gp_data);
            //render html
            var html = "";
            html += "id: " + gp.id + "<br/>";
            for (var i = 0; i < 16; i++) {
                html += "Button " + button_names[i] + ": ";
                if (gp.buttons[i].pressed) html += " pressed";
                html += "<br/>";
            }
            html += "Left Stick " + ": " + gp.axes[0] + "," + gp.axes[1] + "<br/>";
            html += "Right Stick " + ": " + gp.axes[2] + "," + gp.axes[3] + "<br/>";
            $("#gamepadDisplay").html(html);
        }

        $(document).ready(function () {
            if (canGame()) {
                var prompt = "To begin using your gamepad, connect it and press any button!";
                $("#gamepadPrompt").text(prompt);
                $(window).on("gamepadconnected", function () {
                    hasGP = true;
                    $("#gamepadPrompt").html("Gamepad connected!");
                    console.log("connection event");
                    repGP = window.setInterval(reportOnGamepad, 100);
                });
                $(window).on("gamepaddisconnected", function () {
                    console.log("disconnection event");
                    $("#gamepadPrompt").text(prompt);
                    window.clearInterval(repGP);
                    $("#gamepadDisplay").html("");
                });
                //setup an interval for Chrome
                var checkGP = window.setInterval(function () {
                    console.log('checkGP');
                    if (navigator.getGamepads()[0]) {
                        if (!hasGP) $(window).trigger("gamepadconnected");
                        window.clearInterval(checkGP);
                    }
                }, 1000);
            }
        });
    </script>

</body>

</html>