<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script type="text/javascript" charset="utf-8"
        src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
</head>

<body>
    <h1>Video Streaming</h1>
    <img src="{{ url_for('video_feed') }}">
    <h1>Gamepad Info</h1>
    <div id="gamepadPrompt">To begin using your gamepad, connect it and press any button!</div>
    <button type="button" id="btn_control_start"> start </button>
    <button type="button" id="btn_control_stop"> stop </button>
    <div id="control_status">control status:stop!</div>
    <h1>Contoller Info</h1>
    <div id="gamepadDisplay"></div>
    <script>
        //var socket_status = io.connect(window.location.protocol + "//" + location.host + "/status")
        var socket_control = io.connect(window.location.protocol + "//" + location.host + "/control");
        console.log("info:" + window.location.protocol + "//" + location.host + "/control");
        var hasGP = false;
        var repGP
        function canGame() {
            return "getGamepads" in navigator;
        }
        function reportOnGamepad() {
            var gp = navigator.getGamepads()[0];
            button_names = ['A', 'B', 'X', 'Y', 'LB', 'RB', 'LT', 'RT', 'BACK', 'START', 'LS', 'RS', 'UP', 'DOWN', 'LEFT', 'RIGHT']
            //console.log('buttons', gp.buttons.length, "axes", gp.axes.length);
            if (gp.buttons.length < 16 || gp.axes.length < 4) {
                return
            }
            //getting the button status and stick values,send to socket.
            gp_data = {};
            for (var i = 0; i < 16; i++) {
                gp_data[button_names[i]] = gp.buttons[i].pressed
            }
            gp_data["LS_ax0"] = gp.axes[0]
            gp_data["LS_ax1"] = gp.axes[1]
            gp_data["RS_ax0"] = gp.axes[2]
            gp_data["RS_ax1"] = gp.axes[3]
            socket_control.emit('control', { "gp_data": gp_data })
            //console.log('C', gp_data);
            //render html
            var html = "";
            html += "id: " + gp.id + "<br/>";
            for (var i = 0; i < 16; i++) {
                html += "Button " + button_names[i] + ": ";
                if (gp.buttons[i].pressed) html += " pressed";
                html += "<br/>";
            }
            html += "Left Stick " + ": " + gp.axes[0] + "," + gp.axes[1] + "<br/>";
            html += "Right Stick " + ": " + gp.axes[2] + "," + gp.axes[3] + "<br/>";
            $("#gamepadDisplay").html(html);
        }

        window.addEventListener("gamepadconnected", function(e) {
            hasGP =true;
            var prompt = "Gamepad: " + e.gamepad.id + " connected!";
            $("#gamepadPrompt").text(prompt);
            console.log("Gamepad connected, gamepad is: "+e.gamepad.id);
     
        });
        window.addEventListener("gamepaddisconnected", function(e) {
            hasGP =false;
            var prompt = "To begin using your gamepad, connect it and press any button!";
            $("#gamepadPrompt").text(prompt);
            $("#gamepadDisplay").html("");
            console.log("You can't play without a gamepad!");
        });
        $('#btn_control_start').click(function(){
            if (hasGP) {
                if(repGP == null){
                    repGP = window.setInterval(reportOnGamepad, 100);
                    $("#control_status").text("control status:start!");
                }  
            }
        });
        $('#btn_control_stop').click(function(){
            if (hasGP) {
                if(repGP != null){
                    window.clearInterval(repGP);
                    repGP = null
                    $("#control_status").text("control status:stop!");
                }  
            }
        });   
    </script>
</body>

</html>