<?xml version="1.0"?>
<sdf version="1.7">
    <xacro_include_definition uri="model://rmua19_standard_robot2/model.sdf.xacro" />
    <xacro_define_property name="global_light_bar_rgb" value="0 0 1" />
    <xacro_define_property name="global_armor_sticker_map_uri" value="model://rm21_armor_module/materials/textures/armor_sticker_num2.png" />
    <model name="standard_robot_blue">
        <xacro_include_model uri="model://rmua19_standard_robot2/model.sdf.xacro" />
    </model>
</sdf>