.rowcenter {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.rowbt {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.colbt {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.colcenter {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.rowstart {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.colstart {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.container {
	width: 100vw;
	height: 100vh;
}

.video {
	width: 100%;
	height: 100%;
}

.key_active {
	background-color: #55aaff;
	box-shadow: 0 5px #666;
	transform: translateY(2px);
}
.aim_point{
	position: fixed;
	width: 40px;
	height: 40px;
	z-index: 5;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
}
